dt
  color: #2196f3
  &:before
    content: "「"
  &:after
    content: "」"
  font-weight: bold

dd
  margin-left: 1em

dl
  border: lavenderblush
  border-style: dotted
  background-color: aliceblue

.md
  ol
    margin-left: 32px

figcaption
  text-align: center